body{
    font-family: Arial;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    color: blue;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 40px;
    color: lightblue;
    background: blue;
  }
  
  img {
    display: block;
    max-width: 100%;
    margin: 20px auto;
  }
  
  p {
    margin-bottom: 20px;
    color: darkblue;
    background: lightblue
  }
  
  ul {
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
